<template name="ApplicationLayout">
    <header>
        <title>Rumble</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700' rel='stylesheet' type='text/css'>
    </header>

    <body>
        <header>
            <nav role="navigation" class="orange darken-4">
                <div class="nav-wrapper container">
                    <a href="/" id="logo-container" class="brand-logo">Rumble</a>
                    <ul class="right">
                        <li><a href="/search"><i class="material-icons left">search</i>Find Pals</a></li>
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer orange darken-4">
            <div class="footer-copyright">
                <div class="container">
                    @ 2016 Kiera
                </div>
            </div>
        </footer>
    </body>
</template>