body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.challenge-frieend {
    cursor: pointer;
}

ul {
    font-family: 'Playfair Display', serif;
}

a {
    font-family: 'Playfair Display', serif;
}